<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 인터넷 및 위치 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
   
   
    <application
        android:label="project"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- 네이버 지도 API 키 -->
        <meta-data
            android:name="com.naver.maps.map.q884t9qoyu"
            android:value="nYWOL1JM7AjZvZQvQWcdPKaxnwCs4MAz1qGcTQzw" />

        <!-- 카카오 SDK 키-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="af1dbe4ec46db5309c04c6f09355da61" />

            <!-- 네이버 로그인 설정 -->
        <meta-data
            android:name="com.naver.sdk.clientId"
            android:value="KbzFjWsQ_5_HD7OCeKbE" />
        <meta-data
            android:name="com.naver.sdk.clientSecret"
            android:value="XCdj1aEiGa" />
        <meta-data
            android:name="com.naver.sdk.clientName"
            android:value="social_login" />

        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme" />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
           
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

             <!-- 카카오 로그인 설정 -->
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kakaoaf1dbe4ec46db5309c04c6f09355da61" 
                      android:host="oauth"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kakaoaf1dbe4ec46db5309c04c6f09355da61" 
                      android:host="oauth"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.navercorp.nid.oauth.ui.activity.NidOAuthCustomTabActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <package android:name="com.kakao.talk" />
        <package android:name="com.nhn.android.search" />
    </queries>
</manifest>
